#{extends 'main.html' /}
#{set title:messages.get('dashboard.title') /}

#{set 'moreStyles'}
<link rel="stylesheet" href="@{'/public/components/patternfly/components/c3/c3.css'}" >
#{/}

#{set 'moreScriptsTop'}
<script src="@{'/public/components/patternfly/components/c3/c3.min.js'}"></script>
<script src="@{'/public/components/patternfly/components/d3/d3.min.js'}"></script>
#{/}

#{set 'bodyClass'}
cards-pf
#{/}

#{set 'containerClass'}
container-cards-pf
#{/}

<div id="general-loading-div">
    <div class="spinner spinner-lg"></div>
</div>

<div class="row" id="manager_unreachable_div">
    <div class="col-lg-12 col-md-12">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <h1>&{'manager.unreachable.title'}</h1>
            <p>&{'manager.unreachable.message'}</p>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" onclick="turnOnApi()">
                    &{'manager.unreachable.turnon'}
                </button>
            </div>
            <div class="blank-slate-pf-secondary-action">
                <button class="btn btn-default" onclick="checkManagerStatus()">
                    &{'manager.unreachable.tryagain'}
                </button>
                <a class="btn btn-default" href="@{Configurations.editConfiguration()}">
                    &{'manager.unreachable.configuration'}
                </a>
            </div>
        </div>
    </div>
</div>

<div id="main_actions_div">
<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&{'dashboard.datacenters'}</h3>
            </div>
            <div class="panel-body" id="body_data_centers">
                <div class="spinner spinner-md" id="spinner_data_centers"></div>
            </div>
            <table class="table " id="table_data_centers">
                <thead>
                <tr>
                    <th>&{'dashboard.data_center.name'}</th>
                    <th>&{'dashboard.data_center.status'}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&{'dashboard.datacenters.chart'}</h3>
            </div>
            <div class="panel-body">
                <div class="spinner spinner-md" id="spinner_data_centers_chart"></div>
                <div id="donut-data-centers"></div>
            </div>

        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&{'dashboard.hosts'}</h3>
            </div>
            <div class="panel-body" id="body_hosts">
                <div class="spinner spinner-md" id="spinner_hosts"></div>
            </div>
            <table class="table table-striped" id="table_hosts">
                <thead>
                <tr>
                    <th>&{'dashboard.host.name'}</th>
                    <th>&{'dashboard.host.status'}</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">&{'dashboard.hosts.chart'}</h3>
            </div>
            <div class="panel-body">
                <div class="spinner spinner-md" id="spinner_hosts_chart"></div>
                <div id="donut-hosts"></div>
            </div>

        </div>
    </div>
</div>

<div class="row row-cards-pf">
    <div class="col-md-12">
        <div class="card-pf">
            <div class="card-pf-heading">
                <div class="dropdown card-pf-time-frame-filter" id="actions_bar">

                </div>
                <h2 class="card-pf-title">
                    &{'drp.title'}
                </h2>
            </div>
            <div class="card-pf-body" id="operations_div" style="max-height:400px; overflow-y:scroll;">
                <ul class="list-group" id="operation_list">
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<script>

    function setDataCentersData(data) {
        var donutChartConfig1 = jQuery().c3ChartDefaults().getDefaultDonutConfig('A');
        donutChartConfig1.bindto = '#donut-data-centers';
        donutChartConfig1.data = {
            type: "donut",
            columns: [
                ["&{'up'}", data.up],
                ["&{'maintenance'}", data.maintenance],
                ["&{'non_responsive'}", data.nonResponsive],
                ["&{'problematic'}", data.problematic],
                ["&{'other'}", data.total - data.up - data.maintenance - data.problematic - data.nonResponsive]
            ]
        };

        donutChartConfig1.tooltip = {
            contents: function (d) {
                return '<span class="donut-tooltip-pf" style="white-space: nowrap;">' +
                    Math.round(d[0].ratio * 100) + '% ' + d[0].name +
                '</span>';
            }
        };

        var donut1 = c3.generate(donutChartConfig1);
        var donutChartTitle = d3.select("#donut-data-centers").select('text.c3-chart-arcs-title');
        donutChartTitle.text("");
        donutChartTitle.insert('tspan').text( (data.up/data.total * 100).toFixed(2)).classed('donut-title-big-pf', true).attr('dy', 0).attr('x', 0);
        donutChartTitle.insert('tspan').text("% arriba").classed('donut-title-small-pf', true).attr('dy', 20).attr('x', 0);
    }

    function setHostsData(data) {
        var donutChartConfig = jQuery().c3ChartDefaults().getDefaultDonutConfig('A');
        donutChartConfig.bindto = '#donut-hosts';
        donutChartConfig.data = {
            type: "donut",
            columns: [
                ["&{'up'}", data.up],
                ["&{'maintenance'}", data.maintenance],
                ["&{'non_responsive'}", data.nonResponsive],
                ["&{'problematic'}", data.problematic],
                ["&{'other'}", data.total - data.up - data.maintenance - data.problematic - data.nonResponsive]
            ]
        };

        donutChartConfig.tooltip = {
            contents: function (d) {
                return '<span class="donut-tooltip-pf" style="white-space: nowrap;">' +
                    Math.round(d[0].ratio * 100) + '% ' + d[0].name +
                '</span>';
            }
        };

        var donut = c3.generate(donutChartConfig);
        var donutChartTitle = d3.select("#donut-hosts").select('text.c3-chart-arcs-title');
        donutChartTitle.text("");
        donutChartTitle.insert('tspan').text( (data.up/data.total * 100).toFixed(2)).classed('donut-title-big-pf', true).attr('dy', 0).attr('x', 0);
        donutChartTitle.insert('tspan').text("% arriba").classed('donut-title-small-pf', true).attr('dy', 20).attr('x', 0);
    }

    function updateDataCenters() {

        $("#body_data_centers").show();
        $("#spinner_data_centers").show();
        $("#table_data_centers").hide();
        $("#spinner_data_centers_chart").show();
        $("#donut-data-centers").html("");

        $.ajax({
		    type: "POST",
		    url: "@{Dashboard.getDataCenters}"
	    }).done(function( data ) {

	        if (data.success) {

	            var html = "";
	            $.each(data.data.list, function(index, dataCenter) {
	                html+= '<tr>';
	                html+= '<td>' + dataCenter.name + '</td>';
	                html+= '<td>' + dataCenter.status + '</td>';
	                html += '</tr>';
	            });

	            $("#table_data_centers tbody").html(html);
	            setDataCentersData(data.data.statusCount);

	            $("#body_data_centers").hide();
	            $("#table_data_centers").show();
	        } else {
	            $("#table_data_centers").hide();
	        }
	    }).always(function() {
	        $("#spinner_data_centers").hide();
	        $("#spinner_data_centers_chart").hide();
	    });
    }

    function updateHosts() {

        $("#body_hosts").show();
        $("#spinner_hosts").show();
        $("#table_hosts").hide();
        $("#spinner_hosts_chart").show();
        $("#donut-hosts").html("");

        $.ajax({
		    type: "POST",
		    url: "@{Dashboard.getHosts()}"
	    }).done(function( data ) {

	        if (data.success) {
	            var html = "";
	            $.each(data.data.list, function(index, host) {
	                html+= '<tr>';
	                html+= '<td>' + host.name + '</td>';
	                html+= '<td>' + host.status + '</td>';
	                html += '</tr>';
	            });

	            $("#table_hosts tbody").html(html);
	            setHostsData(data.data.statusCount);

	            $("#body_hosts").hide();
	            $("#table_hosts").show();
	        } else {
	            $("#table_hosts").hide();
	        }
	    }).always(function() {
	        $("#spinner_hosts").hide();
	        $("#spinner_hosts_chart").hide();
	    });
    }

    function checkManagerStatus() {
        $("#manager_unreachable_div").hide();
        $("#main_actions_div").hide();
        $("#general-loading-div").show();

        $.ajax({
		    type: "POST",
		    url: "@{Dashboard.checkManagerStatus()}"
	    }).done(function( data ) {

	        if (data.success) {
	            if (data.data) {
	                $("#manager_unreachable_div").hide();
	                $("#main_actions_div").show();

	                updateDataCenters();
                    updateHosts();

	            } else {
	                $("#manager_unreachable_div").show();
	                $("#main_actions_div").hide();
	            }
	        } else {
	            $("#manager_unreachable_div").show();
	            $("#main_actions_div").hide();
	        }
	    }).always(function() {
            $("#general-loading-div").hide();
	    });
    }

    function turnOnApi() {
        $("#manager_unreachable_div").hide();
        $("#main_actions_div").hide();
        $("#general-loading-div").show();

        $.ajax({
		    type: "POST",
		    url: "@{Dashboard.turnOnApi()}"
	    }).done(function( data ) {

	        if (data.success) {
	            if (data.data) {
	                $("#manager_unreachable_div").hide();
	                $("#main_actions_div").show();

	                updateDataCenters();
                    updateHosts();

	            } else {
	                $("#manager_unreachable_div").show();
	                $("#main_actions_div").hide();
	            }
	        } else {
	            $("#manager_unreachable_div").show();
	            $("#main_actions_div").hide();
	        }
	    }).always(function() {
            $("#general-loading-div").hide();
	    });
    }

    $(document).ready(function() {
        $("#general-loading-div").hide();
        checkManagerStatus();
    });

</script>

<script>
    function setStartButton() {
        var html = '<div class="btn-group" role="group">';
        html += '<button onclick="startOperation(\'FAILOVER\')" class="btn btn-small btn-primary" id="button_start">&{'start.failover'}</button>';
        html += '<button onclick="startOperation(\'FAILBACK\')" class="btn btn-small btn-danger" id="button_start">&{'start.failback'}</button>';
        html += '</div>';
        $("#actions_bar").html(html);
    }

    function setLoading() {
       var html = '<div class="spinner"></div>';
       $("#actions_bar").html(html);
    }

    function clearActions() {
       $("#actions_bar").html("");
    }

    function startOperation(type) {

        if ("WebSocket" in window) {
            var operationList = $("#operation_list");
            operationList.html("");

            setLoading();

            var socket = new WebSocket("@@{WSDisasterRecovery.startOperation()}?type="+type);

	        socket.onmessage = function(msg){

	            var data = jQuery.parseJSON( msg.data );
	            addMessage("Message", data.message, data.type);

	            if (data.refresh) {
	                updateDataCenters();
                    updateHosts();
	            }
	        };

	        socket.onclose = function() {
	            setStartButton();
	        };
        } else {

        }

    }

    function addMessage(title, message, type) {
        var operationList = $("#operation_list");
        var cellHtml = "";

        if (type === "error") {
            cellHtml += '<li class="list-group-item list-group-item-danger">';
        } else {
            cellHtml += '<li class="list-group-item list-group-item-info">';
        }
        //cellHtml += '<h3 class="list-group-item-heading">'+title+'</h3>';
        cellHtml += '<span class="badge"></span>';
        cellHtml += '<p class="list-group-item-text">'+message+'</p>';
        cellHtml += '</li>';

        operationList.append(cellHtml);

        $('#operations_div').scrollTop($('#operations_div')[0].scrollHeight);
    }

    setStartButton();

</script>
