#{extends 'Configurations/baseConfiguration.html' /}

#{set title:messages.get('configuration.edit.title') /}

<div class="panel panel-default">
    <div class="panel-body">
        #{form (configuration?.id) ? @Configurations.save() : "", method:"POST", id:"form", role:"form", enctype: "multipart/form-data", class:'form-horizontal'}

        <div class="row">
            <div class="col-md-6">
                #{form-input fieldName:'configuration.apiURL'/}
            </div>
            <div class="col-md-6">
                #{form-input fieldName:'configuration.apiUser'/}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                #{form-input fieldName:'configuration.apiPassword', type:"password"/}
            </div>
            <div class="col-md-6">
                #{form-input-plain
                type:"file",
                class:" ",
                name:"configuration.trustStore",
                error: errors.forKey("configuration.trustStore")
                /}
            </div>
        </div>

        <button type="submit" class="btn btn-primary pull-right">&{'form.save'}</button>

        #{/form}
        <!-- /.form -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->

<script>

    function checkManagerStatus() {
        $("#manager_unreachable_div").hide();
        $("#main_actions_div").hide();
        $("#general-loading-div").show();

        $.ajax({
            type: "POST",
            url: "@{Dashboard.checkManagerStatus()}"
        }).done(function( data ) {

            $("#general-loading-div").hide();

            if (data.success) {
                if (data.data) {
                    $("#manager_unreachable_div").hide();
                    $("#main_actions_div").show();

                    update();

                } else {
                    $("#manager_unreachable_div").show();
                    $("#main_actions_div").hide();
                }
            } else {
                $("#manager_unreachable_div").show();
                $("#main_actions_div").hide();
            }
        }).error(function() {
            $("#general-loading-div").hide();
        });
    }

</script>