#{extends 'Configurations/baseConfiguration.html' /}

#{set title:messages.get('configuration.edit.title') /}

<div class="panel panel-default">
    <div class="panel-body">
        #{form (configuration?.id) ? @Configurations.save() : "", method:"POST", id:"form", role:"form", enctype: "multipart/form-data", class:'form-horizontal'}

        <div class="row">
            <div class="col-md-6">
                #{form-input fieldName:'configuration.apiURL'/}
            </div>
            <div class="col-md-6">
                #{form-input fieldName:'configuration.apiUser'/}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                #{form-input fieldName:'configuration.apiPassword'/}
            </div>
            <div class="col-md-6">
                #{form-input-plain
                type:"file",
                class:" ",
                name:"configuration.trustStore",
                error: errors.forKey("configuration.trustStore")
                /}
            </div>
        </div>

        <button type="submit" class="btn btn-default pull-right">&{'form.save'}</button>

        #{/form}
        <!-- /.form -->
    </div>
    <!-- /.panel-body -->
</div>
<!-- /.panel -->