
.login-pf body {
	background: #080808 url(../images/bg-login.jpg) 50% 0 repeat-x  !important;
}

.card-pf-body .list-group .list-group-item {
	background: 0 0 !important;
    border-color: #e9e9e9 !important;
    padding-left: 0 !important;
}

.card-pf-body .list-group {
	border-top: 0 !important;
	margin-top: -10px !important;
}

td input {
	width:100%;
}

@media (max-width: 767px) {
  .table-responsive .dropdown-menu,
  .table-responsive .dropdown-toggle {
        position: static !important;
  }
}

@media (min-width: 768px) {
    .table-responsive {
        overflow: visible;
    }
}
