
.login-pf body {
	background: #080808 !important;
}

.card-pf-body .list-group .list-group-item {
	background: 0 0 !important;
    border-color: #e9e9e9 !important;
    padding-left: 0 !important;
}

.card-pf-body .list-group {
	border-top: 0 !important;
	margin-top: -10px !important;
}