#{extends 'main.html' /}
#{set title:messages.get('users.title') /}

<h1>#{get 'title'/}</h1>
#{result-alerts/}

<div class="row">
    <div class="col-lg-12">
    	<p class="pull-right">
    		<a href="@{Users.create()}" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i> &{'users.new'}</a>
    	</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <table class="datatable table table-striped table-bordered" id="dataTables-list">
            <thead>
            <tr>
                <th>&{'users.table.username'}</th>
                <th>&{'users.table.firstName'}</th>
                <th>&{'users.table.lastName'}</th>
                <th>&{'users.table.role'}</th>
                <th>&{'users.table.lastAccess'}</th>
                <th style="width:75px;" class="text-center">&{'users.table.active'}</th>
                <th style="width:75px;" class="text-center">&{'users.table.edit'}</th>
            </tr>
            </thead>
            <tbody>
            #{list users, as: 'user'}
            <tr class="odd">
                <td>${user.username}</td>
                <td>${user.firstName}</td>
                <td>${user.lastName}</td>
                <td>${user.role?.name}</td>
                <td>${user.lastAccess?.format('dd/MM/yy HH:mm:ss')}</td>
                <td class="text-center">
                    #{if user.active}
                    <span class="label label-success">&{'state.active'}</span>
                    #{/if}
                    #{else}
                    <span class="label label-danger">&{'state.inactive'}</span>
                    #{/else}
                </td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            &{'table.actions'}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li>
                                <a href="@{Users.edit(user.id)}"><i class="fa fa-edit"></i> &{'users.table.edit'}</a>
                            </li>
                            <li>
                                <a href="@{Users.resetPassword(user.id)}" onclick="return confirm('&{'user.reset.confirm'}')"><i class="fa fa-key"></i> &{'users.table.reset'}</a>
                            </li>
                            <li>
                                <a href="@{Users.delete(user.id)}" onclick="return confirm('&{'user.delete.confirm'}')"><i class="fa fa-trash"></i> &{'users.table.delete'}</a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            #{/list}
            </tbody>
        </table>
    </div>
</div>

#{set 'moreScripts'}

<script>
    $(document).ready(function() {
        $('#dataTables-list').DataTable({

                columnDefs: [
                	{ "targets": 5, "orderable": false },
                	{ "targets": 6, "orderable": false }
                 ],
                 language: #{data-tables-lang/}
        });
    });
</script>

#{/}