<div id="general-loading-div">
    <div class="spinner spinner-lg"></div>
</div>

<div class="row" id="manager_unreachable_div">
    <div class="col-lg-12 col-md-12">
        <div class="blank-slate-pf">
            <div class="blank-slate-pf-icon">
                <i class="fa fa-exclamation-triangle"></i>
            </div>
            <h1>&{'manager.unreachable.title'}</h1>
            <p>&{'manager.unreachable.message'}</p>
            <div class="blank-slate-pf-main-action">
                <button class="btn btn-primary btn-lg" onclick="turnOnApi()">
                    &{'manager.unreachable.turnon'}
                </button>
            </div>
            <div class="blank-slate-pf-secondary-action">
                <button class="btn btn-default" onclick="checkManagerStatus()">
                    &{'manager.unreachable.tryagain'}
                </button>
                <a class="btn btn-default" href="@{Configurations.editConfiguration()}">
                    &{'manager.unreachable.configuration'}
                </a>
            </div>
        </div>
    </div>
</div>