%{
serializedAttrs  = play.templates.FastTags.serialize(_attrs, "class", "name")
}%

#{if _inline}
<div class="form-group ${_error ? 'has-error' : ''}">
    <label class="control-label" for="${_name}">${messages.get(_name)}</label>
    <input type="hidden" name="${_name}" id="${_id?:_name}_value" />
    <div id="${_id?:_name}" ${serializedAttrs.raw()}></div>
</div>
#{/if}
#{else}
<div class="form-group ${_error ? 'has-error' : ''}">
    <label class="control-label" for="${_name}">${messages.get(_name)}</label>
    <div class="date ${_showIcon? 'input-group' : 'form-input'}">
        <input name="${_name}" id="${_id?:_name}" class="form-control" ${serializedAttrs.raw()} />
        #{if _showIcon}
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
        #{/if}
        #{if _error}<p id="${_name}-error" class="help-block">${_error}</p>#{/if}
    </div>
</div>
#{/else}