#{field _fieldName}
<div class="form-group ${field.error ? 'has-error':''}">
    <label class="col-sm-4 control-label" for="${field.id}">${messages.get(field.name)}</label>
    <div class="col-sm-8">

        %{
            fieldValue = field.flash != null ? field.flash : field.value;
        }%

        #{input for:field.name, id:field.id, class:"form-control", value:fieldValue, type: _type?:"text" /}
        #{if field.error}<p id="${field.id}-error" class="help-block">${field.error}</p>#{/if}
    </div>
</div>
#{/}