

$('#startDateDiv').datepicker({
    autoclose: true,
    orientation: "bottom",
    todayBtn: "linked",
    todayHighlight: true,
    format: "dd/mm/yyyy"
});

$('#endDateDiv').datepicker({
    autoclose: true,
    orientation: "bottom",
    todayBtn: "linked",
    todayHighlight: true,
    format: "dd/mm/yyyy"
});

*{
$('#startDate').datetimepicker({
    format: 'DD/MM/YYYY',
    locale: 'es',
    useCurrent: false

    #{if _endDate}
    ,maxDate: new Date(${_endDate.getTime()})
    #{/if}

});

$('#endDate').datetimepicker({
    format: 'DD/MM/YYYY',
    locale: 'es',
    useCurrent: false,
    maxDate: new Date()
    #{if _startDate}
    ,minDate: new Date(${_startDate.getTime()})
    #{/if}

});

$("#startDate").on("dp.change", function (e) {
    $('#endDate').data("DateTimePicker").minDate(e.date);
});

$("#endDate").on("dp.change", function (e) {
    $('#startDate').data("DateTimePicker").maxDate(e.date);
});
}*