[Unit]
Description=oVirt Engine Disaster Recovery
After=network.target

[Service]
Type=forking
User=ovirtdr
Group=ovirtdr

ExecStart=/opt/ovirt-engine-disaster-recovery/play start /opt/ovirt-engine-disaster-recovery/web --%%prod
ExecStop=/opt/ovirt-engine-disaster-recovery/play stop /opt/ovirt-engine-disaster-recovery/web

# Give a reasonable amount of time for the server to start up/shut down
TimeoutSec=300

# Place temp files in a secure directory, not /tmp

[Install]
WantedBy=multi-user.target
