<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->
    <head>
        <title>&{'title'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        #{get 'moreStyles'/}

        <link rel="shortcut icon" href="@{'/public/components/patternfly/dist/img/favicon.ico'}">
        <!-- iPad retina icon -->
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="@{'/public/components/patternfly/dist/img/apple-touch-icon-precomposed-152.png'}">
        <!-- iPad retina icon (iOS < 7) -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="@{'/public/components/patternfly/dist/img/apple-touch-icon-precomposed-144.png'}">
        <!-- iPad non-retina icon -->
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="@{'/public/components/patternfly/dist/img/apple-touch-icon-precomposed-76.png'}">
        <!-- iPad non-retina icon (iOS < 7) -->
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="@{'/public/components/patternfly/dist/img/apple-touch-icon-precomposed-72.png'}">
        <!-- iPhone 6 Plus icon -->
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="@{'/public/components/patternfly/dist/img/apple-touch-icon-precomposed-180.png'}">
        <!-- iPhone retina icon (iOS < 7) -->
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="@{'/public/components/patternfly/dist/img/apple-touch-icon-precomposed-114.png'}">
        <!-- iPhone non-retina icon (iOS < 7) -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="@{'/public/components/patternfly/dist/img/apple-touch-icon-precomposed-57.png'}">
        <link rel="stylesheet" href="@{'/public/components/patternfly/dist/css/patternfly.min.css'}" >
        <link rel="stylesheet" href="@{'/public/components/patternfly/dist/css/patternfly-additions.min.css'}" >
        <script src="@{'/public/components/patternfly/components/jquery/dist/jquery.min.js'}"></script>
        <script src="@{'/public/components/patternfly/components/bootstrap/dist/js/bootstrap.min.js'}"></script>
        <script src="@{'/public/components/patternfly/components/datatables/media/js/jquery.dataTables.js'}"></script>
        <script src="@{'/public/components/patternfly/dist/js/patternfly.min.js'}"></script>
        <script src="@{'/public/components/patternfly/components/bootstrap-select/dist/js/bootstrap-select.min.js'}"></script>
        <script src="@{'/public/components/patternfly/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js'}"></script>

        #{get 'moreScriptsTop'/}
    </head>

    <body>

    #{doLayout/}

    <script>

        #{get 'moreFunctions'/}

        *{
        jQuery.extend(jQuery.validator.messages, {
            required: "&{'jvalidation.required'}",
            remote: "&{'jvalidation.remote'}",
            email: "&{'jvalidation.email'}",
            url: "&{'jvalidation.url'}",
            date: "&{'jvalidation.date'}",
            dateISO: "&{'jvalidation.dateISO'}",
            number: "&{'jvalidation.number'}",
            digits: "&{'jvalidation.digits'}",
            creditcard: "&{'jvalidation.creditcard'}",
            equalTo: "&{'jvalidation.equalTo'}",
            accept: "&{'jvalidation.accept'}",
            maxlength: jQuery.validator.format("&{'jvalidation.maxlength'}"),
            minlength: jQuery.validator.format("&{'jvalidation.minlength'}"),
            rangelength: jQuery.validator.format("&{'jvalidation.rangelength'}"),
            range: jQuery.validator.format("&{'jvalidation.range'}"),
            max: jQuery.validator.format("&{'jvalidation.max'}"),
            min: jQuery.validator.format("&{'jvalidation.min'}")
        });

        jQuery.validator.setDefaults({
            errorClass : "help-block",
            errorElement: "p",
            highlight: function(element, errorClass) {
                $(element).parent('div').addClass("has-error");
            },
            unhighlight: function(element, errorClass) {
                $(element).parent('div').removeClass("has-error");
            },
            errorPlacement: function(error, element) {
                error.appendTo(element.parent());
            }
        });

        $('select').multiselect({
            buttonContainer: '<div class="btn-group btn-block" />',
            buttonClass: 'btn btn-default btn-block',
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: '&{'select.search'}',
            selectAllText: '&{'select.selectAll'}',
            nonSelectedText: '&{'select.nonSelected'}',
            nSelectedText: '&{'select.selected'}',
            allSelectedText: '&{'select.allSelected'}',
            onChange: function(element, checked) {
                #{get 'selectOnChange'/}
            }
        });
        }*

        $(document).ready(function() {

            *{
            $('#form').validate({
                ignore: ":hidden:not(select)"
            });
            }*

            #{get 'onDocumentReady'/}

        });

	</script>

    #{get 'moreScripts'/}

    </body>
</html>
