<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>#{get 'title'/}</title>
        
        #{get 'moreStyles'/}

        <!-- Bootstrap Core CSS -->
        <link href="@{'/public/sbadmin/bower_components/bootstrap/dist/css/bootstrap.min.css'}" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="@{'/public/sbadmin/bower_components/metisMenu/dist/metisMenu.min.css'}" rel="stylesheet">

        <!-- Timeline CSS -->
        <link href="@{'/public/sbadmin/dist/css/timeline.css'}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="@{'/public/sbadmin/dist/css/sb-admin-2.css'}" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="@{'/public/sbadmin/bower_components/font-awesome/css/font-awesome.min.css'}" rel="stylesheet" type="text/css">
        
        <!-- Custom Styles -->
        <link href="@{'/public/stylesheets/template.css'}" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="stylesheet" href="@{'/public/multiselect/bootstrap-multiselect.css'}" type="text/css"/>
        
    </head>

    <body>

        #{doLayout/}

        <!-- jQuery -->
        <script src="@{'/public/sbadmin/bower_components/jquery/dist/jquery.min.js'}"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="@{'/public/sbadmin/bower_components/bootstrap/dist/js/bootstrap.min.js'}"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="@{'/public/sbadmin/bower_components/metisMenu/dist/metisMenu.min.js'}"></script>

        <!-- Custom Theme JavaScript -->
        <script src="@{'/public/sbadmin/dist/js/sb-admin-2.js'}"></script>
        
        <!-- JQuery Validate -->
        <script src="@{'/public/javascripts/jquery.validate.min.js'}"></script>

        <script type="text/javascript" src="@{'/public/multiselect/bootstrap-multiselect.js'}"></script>

		<script>

		    #{get 'moreFunctions'/}

			jQuery.extend(jQuery.validator.messages, {
		        required: "&{'jvalidation.required'}",
		        remote: "&{'jvalidation.remote'}",
		        email: "&{'jvalidation.email'}",
		        url: "&{'jvalidation.url'}",
		        date: "&{'jvalidation.date'}",
		        dateISO: "&{'jvalidation.dateISO'}",
		        number: "&{'jvalidation.number'}",
		        digits: "&{'jvalidation.digits'}",
		        creditcard: "&{'jvalidation.creditcard'}",
		        equalTo: "&{'jvalidation.equalTo'}",
		        accept: "&{'jvalidation.accept'}",
		        maxlength: jQuery.validator.format("&{'jvalidation.maxlength'}"),
		        minlength: jQuery.validator.format("&{'jvalidation.minlength'}"),
		        rangelength: jQuery.validator.format("&{'jvalidation.rangelength'}"),
		        range: jQuery.validator.format("&{'jvalidation.range'}"),
		        max: jQuery.validator.format("&{'jvalidation.max'}"),
		        min: jQuery.validator.format("&{'jvalidation.min'}")
		    });
		    
		    jQuery.validator.setDefaults({
                errorClass : "help-block",
                errorElement: "p",
                highlight: function(element, errorClass) {
                    $(element).parent('div').addClass("has-error");
                },
                unhighlight: function(element, errorClass) {
                    $(element).parent('div').removeClass("has-error");
                },
                errorPlacement: function(error, element) {
                    error.appendTo(element.parent());
		    	}
            });

            $('select').multiselect({
                buttonContainer: '<div class="btn-group btn-block" />',
                buttonClass: 'btn btn-default btn-block',
                enableCaseInsensitiveFiltering: true,
                filterPlaceholder: '&{'select.search'}',
                selectAllText: '&{'select.selectAll'}',
                nonSelectedText: '&{'select.nonSelected'}',
                nSelectedText: '&{'select.selected'}',
                allSelectedText: '&{'select.allSelected'}',
                onChange: function(element, checked) {
                    #{get 'selectOnChange'/}
                }
            });

            $(document).ready(function() {
                $('#form').validate({
                    ignore: ":hidden:not(select)"
                });

                #{get 'onDocumentReady'/}

            });

		</script>
        
        #{get 'moreScripts'/}

    </body>

</html>
