#{extends 'base.html'/}

%{
	isAdmin = (connectedUser.role.code.equals(models.UserRole.RoleCode.ADMINISTRATOR))
	isTecnico = (connectedUser.role.code.equals(models.UserRole.RoleCode.TECNICO))
}%

<nav class="navbar navbar-default navbar-pf" role="navigation">

    #{navigationheader/}

    <div class="collapse navbar-collapse navbar-collapse-1">

        #{profilemenu user:connectedUser /}

        <ul class="nav navbar-nav navbar-primary">

            <li class="${(request.controller == "Dashboard") ? 'active' : ''}">
                <a href="@{Dashboard.index()}">
                <i class="fa fa-dashboard"></i>&nbsp;&nbsp;&{'menu.dashboard'}
                </a>
            </li>

            #{if isAdmin}
            <li class="${(request.controller == "Users") ? 'active' : ''}">
                <a href="@{Users.index()}">
                <i class="fa fa-user"></i>&nbsp;&nbsp;&{'menu.users'}
                </a>
            </li>
            <li class="${(request.controller == "Configurations") ? 'active' : ''}">
                <a href="@{Configurations.editConfiguration()}">
                <i class="fa fa-cog"></i>&nbsp;&nbsp;&{'menu.configuration'}
                </a>
            </li>
            #{/if}
        </ul>
    </div>
</nav>

<div class="container-fluid #{get 'containerClass'/}">
    #{doLayout/}
</div><!-- /container -->

