#{extends 'base.html'/}

%{
	isAdmin = (connectedUser.role.code.equals(models.UserRole.RoleCode.ADMINISTRATOR))
	isTecnico = (connectedUser.role.code.equals(models.UserRole.RoleCode.TECNICO))
}%

<nav class="navbar navbar-default navbar-pf" role="navigation">

    #{navigationheader/}

    <div class="collapse navbar-collapse navbar-collapse-1">

        #{profilemenu user:connectedUser /}

        <ul class="nav navbar-nav navbar-primary">

            <li class="${(request.controller == "Dashboard") ? 'active' : ''}">
                <a href="@{Dashboard.index()}">
                <i class="fa fa-dashboard"></i>&nbsp;&nbsp;&{'menu.dashboard'}
                </a>
            </li>

            #{if isAdmin}
            <li class="${(request.controller == "Users") ? 'active' : ''}">
                <a href="@{Users.index()}">
                <i class="fa fa-user"></i>&nbsp;&nbsp;&{'menu.users'}
                </a>
            </li>
            <li class="${(request.controller == "Configurations") ? 'active' : ''}">
                <a href="@{Configurations.editConfiguration()}">
                <i class="fa fa-cog"></i>&nbsp;&nbsp;&{'menu.configuration'}
                </a>
            </li>
            #{/if}
        </ul>
    </div>
</nav>

<div class="container-fluid #{get 'containerClass'/}">
    <div class="row">
        <div class="col-md-12">
            <h1>#{get 'title'/}</h1>

            #{if flash.success}
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <span class="pficon pficon-ok"></span>
                ${flash.success}
            </div>
            #{/if}
            #{if flash.error}
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    <span class="pficon pficon-close"></span>
                </button>
                <span class="pficon pficon-error-circle-o"></span>
                ${flash.error}
            </div>
            #{/if}

            #{doLayout/}
        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->

