#{extends 'main.html' /}
#{set title:messages.get('passwordChange.title') /}

<h1>#{get 'title'/}</h1>

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                #{form @Profile.changePassword() , method:"POST", id:"form", role:"form", class:"form-horizontal"}

                <div class="row">
                    <div class="col-md-6">
                        #{form-input-plain
                            name:"password",
                            maxlength:"45",
                            required:"required",
                            type:"password",
                            error: errors.forKey("password")
                        /}
                    </div>
                    <div class="col-md-6">
                        #{form-input-plain
                            name:"passwordConfirm",
                            maxlength:"45",
                            required:"required",
                            type:"password",
                            error: errors.forKey("passwordConfirm")
                        /}
                    </div>
                </div>

                <button type="submit" class="btn btn-default pull-right">&{'form.save'}</button>


                #{/form}
                <!-- /.form -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

#{set 'moreScripts'}

<script>
    $(document).ready(function() {
        $( "#passwordConfirm" ).rules( "add", {
            equalTo: "#password",
            minlength: 6
        });
        $( "#password" ).rules( "add", {
            equalTo: "#password",
            minlength: 6
        });
    });
</script>

#{/}